<div class="page-heading about-heading header-text" style="background-image: url(assets/images/i6.jpg);margin-top: 80px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>About us</h4>
            <h2>Our Company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="send-message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Send us a Message</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <div class="form-group">
              <div class="row">
                <!-- <div class="col-lg-12 col-md-12 col-sm-12">
                  
                    <input [(ngModel)]="fullName"  class="form-control"  placeholder="Full Name" >
                  
                </div> -->

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="form-group">
                      <label for="">Full Name</label>
                      <input [(ngModel)]="fullName" type="text" placeholder="Full Name" class="form-control">
                  </div>          
                </div>

                 <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <label for="">Email</label>
                    <input [(ngModel)]="email" name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <label for="">Password</label>
                    <input [(ngModel)]="password" name="email" type="password" class="form-control" id="email" placeholder="Password" required="">
                  </fieldset>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                  <label for="">Subject</label>
                  <fieldset>
                    <input [(ngModel)]="subject"  name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <label for="">Message</label>
                  <fieldset>
                    <textarea [(ngModel)]="message" name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button (click)="onSubmit()" class="filled-button">Send Message</button>
                  </fieldset>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          
        </div>
      </div>
    </div>
  </div>

  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Click & Go</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/i11.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Why choose us ?</h4>
            <p>Click & Go has a new face. After more than 20 years in business, we decided to give a fresher look to our brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations and requirements.<br><br>  <ul class="featured-list">
              <li><a href="#">If you want to book directly through a supplier, and not through a broker – choose Click & Go.</a></li>
              <li><a> Vehicle make and model will be confirmed, and not “similar” to those you selected</a></li>
              <li><a>You can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service</a></li>
              <li><a>All our vehicles have air conditioning,  power steering, electric windows. All our vehicles are bought and maintained at official dealerships only. </a></li>
            </ul>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>How it Works ?</h2>
          </div>

          <h5>Click & Go is a Self‐Drive car rental service. We save you
the cost and hassle of owning a car while giving you all the good parts:

Convenience, Mobility and Independence.</h5><br>

          <p>At Click & Go, the safety of our members is our #1 priority. In the event of an accident or a vehicle breakdown, Click & Go is 100% committed to providing the help you need to get back to zooming quickly and safely.</p><br><br><h5>Call Click & Go's 24x7 Customer Support: 08068076666</h5><p><br>
Our helpful team will communicate with the respective service center to ensure that you are fully supported. Click & Go will arrange a local tow truck to provide help wherever you are. Our technology allows us to monitor each vehicle's location remotely so we can tell your exact location when you're in trouble. This will further help expedite the incident resolution</p>

         
        </div>
      </div>
    </div>
  </div>



  <div class="find-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Location on Maps</h2>
          </div>
        </div>
        <div class="col-md-8">
<!-- How to change your own map point
  1. Go to Google Maps
  2. Click on your location point
  3. Click "Share" and choose "Embed map" tab
  4. Copy only URL and paste it within the src="" field below
-->
          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.7106777404974!2d73.8554791498774!3d18.451440976040274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2eac4cc5c4563%3A0x1796eff6ac9b25a7!2sZoomcar!5e0!3m2!1sen!2sin!4v1606894903109!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
        </div>
        <div class="col-md-4">
          <div class="left-content">
            <h4>About our office</h4>
            <p>If you need to contact us about a completed rental or make a claim on your Full Protection, the way to get in touch is by conneting with us on facebook , twitter.<br><br>You can get in touch with us by sending message by submitting the form below.</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>




  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

