body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}
img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    
    margin-left: 250px;
    margin-top: 50px;
  }