<h3 class="title" style="margin-top: 100px;">Car Information</h3>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a  aria-current="page" routerLink="/home/car/car-list" routerLinkActive="active">Cars </a></li>
          <li class="breadcrumb-item active" aria-current="page">{{car.carName}}</li>
        </ol>
      </nav>

    <div class="row">
        <div class="col-md-6">
            <img src="http://localhost:4100/car/image/{{car.image}}" height="300px" width="500px" alt="">
        </div>
        <div  class="col-md-6">
            <strong> <h2 class="card-title">{{car.carName}}</h2></strong>
              <h5>Description :</h5>
              <p class="card-text">{{car.description}}</p>
              <p class="card-text"> <strong> No of maximum Seats :</strong>{{car.noOfSeats}}</p>
              <p class="card-text"> <strong>Price/hour:</strong>₹ {{car.pricePerHour}}</p>
              <p class="card-text"><strong>Transmission:</strong>{{car.transmission}} <strong>fuel:</strong>{{car.fuel}}</p>
              <h5 *ngIf="car.isAvailable==0" class="card-text" style="color: rgba(248, 28, 28, 0.89);">Currently not available</h5>
              <h5 *ngIf="car.isAvailable==1" class="card-text" style="color: rgb(34, 165, 8);">Now available</h5>
              <h5 *ngIf="car.isAvailable==2" class="card-text" style="color: rgb(241, 148, 9);">In users waiting list</h5>
              <button *ngIf="car.isAvailable==1" (click)="onBook(car)" class="btn btn-primary mt-2" style="margin-left: 10px;">Book Now</button>
  
        </div>
    </div>
    <h2 class="mt-2">Customer's reviews</h2>
    <div class="row mt-5">
       
          <div class="col-md-4" *ngFor="let feedback of feedbacks">
            <div class="shadow p-3 mb-5 bg-white rounded">
              <div class="service-item">
                <img class="profileimg" *ngIf="feedback.userImage!=undefined" src="http://localhost:4100/user/image/{{feedback.userImage}}" width="150px" height="150px" alt="" class="img-rounded img-responsive" />
                <img class="profileimg" *ngIf="feedback.userImage==undefined" src="http://placehold.it/380x500" width="150px" height="150px" alt="" class="img-rounded img-responsive" />

                <div class="down-content">
                  <h4>{{feedback.userFirstname}} {{feedback.userLastname}}</h4>
                  <ngb-rating [rate]="feedback.rating" readonly="true" [max]="5" style="color: gold; font-size: 20px;"></ngb-rating>
                  <p class="n-m"><em>{{feedback.content}}</em></p>
                  <small>{{feedback.created_on}} </small>
                </div>
              </div>
        </div>
    <!-- </div> -->
</div>

