
<div class="modal-header">
    <h3 class="title">Total Bill</h3>
</div>
    <!-- <img src="" alt=""> -->
<div class="modal-body" id="contentToConvert" #content>
    <h3>Car Name={{carName}}</h3> <br>
    <h4>Destination= {{destination}} </h4> <br>
    <h5>Total Min= {{rideDuration}}</h5> <br>
    <h5>From Date= {{fromDate}}</h5> <br>
    <h5>From Time= {{fromTime}}</h5> <br>
      <h5>Return Date= {{returnOn}}</h5> <br>
      <h5>Price/Hour= Rs. {{pricePerHour}}</h5> <br>
      <h5>Total Bill= Total Min * Price/Min <br > <h5 style="margin-left:80px;"> = {{rideDuration}} * {{pricePerMin}} </h5> </h5>
      <h5>Total Bill= Rs. {{totalRent}}</h5>
      
</div>
<div class="modal-footer">
    <button (click)="generatePDF()" class="btn btn-success" style="float: right;">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg>
        Download</button>
    <!-- <input type="button" value="Convert" (click)="convetToPDF()"/> -->
    <button (click)="onOk()" class="btn btn-primary" style="float: right;">Ok</button>
</div>